body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5; 
  font-family: 'Arial', sans-serif;
}

.auth-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100%;
  width: 100%;
}
